body {
  padding-left: 16px;
  padding-right: 16px;
  background-color: black;
  font-family: sans-serif;
  color: white;
  width: fit-content;
}

.wd-bookmark-header-and-ellipsis-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wd-bookmark-header-area {
  margin-top: 12px;
  padding: 12px 16px;
  display: block;
  border-top: rgb(110, 118, 125) 1px solid;
  border-right: rgb(110, 118, 125) 1px solid;
  border-left: rgb(110, 118, 125) 1px solid;
}

.wd-bookmark-header-title {
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.wd-bookmark-header-subtitle {
  font-size: 12px;
  color: rgb(110, 118, 125);
}

.wd-tuits-parent-container {
  width: fit-content;
  display: block;
  border: rgb(110, 118, 125) 1px solid;
  border-radius: 0px 0px 10px 10px;
}

.wd-tuit {
  padding: 12px 16px;
  display: flex;
  border-top: rgb(110, 118, 125) 1px solid;
}

.wd-tuit-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.wd-tuit-content {
  display: block;
  max-width: 506px;
}

.wd-tuit-author {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.wd-tuit-username {
  font-size: 12px;
  color: rgb(110, 118, 125);
}

.wd-tuit-date {
  font-size: 12px;
  color: rgb(110, 118, 125);
}

.wd-tuit-text-content {
  font-size: 15px;
  color: white;
  max-width: 506px;
  margin: 12px 0px;
}

.wd-image-with-description {
  display: block;
  margin-top: 12px;
  border:rgb(110, 118, 125) 1px solid;
  border-radius: 10px;
}

.wd-tuit-image {
  width: 504px;
  height: 264px;
  border-radius: 10px 10px 0px 0px;
}

.wd-image-description {
  display: block;
  padding: 12px;
  font-size: 15px;
}

.wd-image-description-title {
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.wd-image-description-subtitle {
  font-size: 12px;
  color: rgb(110, 118, 125);
  padding-top: 2px;
}

.wd-link-no-underline {
  text-decoration: none;
}

.wd-tuit-icons-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  width: 70%;
}

.wd-tuit-icons-bar-number {
  font-size: 12px;
  color: rgb(110, 118, 125);
  padding-left: 12px;
}

.wd-fill-red {
  color: rgb(224, 36, 94);
}

.wd-fill-grey {
  color: rgb(110, 118, 125);
}

.wd-fill-blue {
  color: rgb(29, 161, 242);
}

.wd-float-right {
  float: right;
}
